<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/lectHalls">Live Status</a>
                </li>
            </ul>
        </div>
        <div class="navbar-nav ms-auto">
            <a class="nav-link" href="/students/attendance">Mark Your Attendance Here</a>
            <a class="nav-link" href="/professors/logout">Professor Logout</a>
            <a class="nav-link" href="/professors/login">Professor Login</a>
        </div>
    </div>
</nav> -->

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="/" class="logo"><img src="/img/logo.png" alt="" class="img-fluid"></a>
      

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/lectHalls">Live Status</a></li>
          <li><a class="nav-link scrollto" href="/students/attendance">Attendance Marking</a></li>
          <% if(profId!=null){%>
            <li><a class="nav-link scrollto " href="/professors/logout">Professor Logout</a></li>
          <% }else{%>
            <li><a class="nav-link scrollto" href="/professors/login">Professor Login</a></li>
            <% } %>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>

 