<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/lectHalls">Live Status</a>
                </li>
            </ul>
        </div>
        <div class="navbar-nav ms-auto">
            <a class="nav-link" href="/students/attendance">Mark Your Attendance Here</a>
            <a class="nav-link" href="/professors/logout">Professor Logout</a>
            <a class="nav-link" href="/professors/login">Professor Login</a>
        </div>
    </div>
</nav>