<% layout('layouts/boilerplate') -%>

<div class="container mt-5">
    <h1 class="text-center mb-5">Lecture Hall Status</h1>
    <div class="row">
      <% for (let i = 0; i <= 3; i++) { %>
      <div class="col-md-4 mb-4">
        <div class="card h-100" style="background-color: black ; color: white;">
          <div class="card-body">
            <h5 class="card-title"><%= lts[i].name %></h5>
            <h6 style="display: inline;" >Status: </h6>
            <p style="display: inline;" class="card-text"><%= lts[i].status %></p>
            <% if (lts[i].occupiedBy) { %>
                <p class="card-text"><%= lts[i].occupiedBy %></p>
            <% }%>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>