<% layout('layouts/boilerplate') -%>
  
  <script>
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        alert('Geolocation is not supported by this browser.');
      }
    }

    function showPosition(position) {
      const latitude = position.coords.latitude;
      const longitude = position.coords.longitude;

      document.getElementById('latitude').value = latitude;
      document.getElementById('longitude').value = longitude;
    }

    document.addEventListener('DOMContentLoaded', () => {
      document.getElementById('getLocation').addEventListener('click', () => {
        getLocation();
      });
    });

    
  </script>

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 mt-5">
        <div class="card bg-dark-subtle" >
          <div class="card-header bg-dark text-white">
            <h4>Mark Attendance</h4>
          </div>
          <div class="card-body">

            <form id="myForm" action='/students/attendance' method="POST">
              <div class="form-group">
                <label for="rollno" class="mt-2">
                  <h6>ROLL NUMBER:</h1>
                </label>
                <input type="number" class="form-control" id="rollno" name="rollNo" required>
              </div>
              <div class="form-group">
                <label for="password" class="mt-2">
                  <h6>PASSWORD:</h1>
                </label>
                <input type="password" class="form-control" id="password" name="password" required>
              </div>
              <div class="form-group">
                <label for="passcode" class="mt-2">
                  <h6>PASSCODE:</h1>
                </label>
                <input type="text" class="form-control" id="passcode" name="passcode" required>
              </div>

              <input type="hidden" name="latitude" id="latitude" />
              <input type="hidden" name="longitude" id="longitude" />

              <button type="button" class="btn btn-dark btn-block mt-2" id="getLocation">Get Location</button>
              <button type="submit" class="btn btn-dark btn-block mt-2">Submit</button>

              <!-- <button type="submit" >Login</button> -->
            </form>



          </div>
        </div>
      </div>
      
  </div>