<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    

    
  <script>
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        alert('Geolocation is not supported by this browser.');
      }
    }

    function showPosition(position) {
      const latitude = position.coords.latitude;
      const longitude = position.coords.longitude;

      document.getElementById('latitude').value = latitude;
      document.getElementById('longitude').value = longitude;
    }

    document.addEventListener('DOMContentLoaded', () => {
      document.getElementById('getLocation').addEventListener('click', () => {
        getLocation();
      });
    });
  </script>


</head>

<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar') %>
    <main class="container mt-5">
        
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-2 mt-5">
        <div class="card">
          <div class="card-header bg-dark text-white">
            <h4>Mark Attendance</h4>
          </div>
          <div class="card-body">
            <!-- action="/students/attendance/<passcodes%>" -->

            
            <form id="myForm" action='/students/attendance' method="POST">
              <div class="form-group">
                <label for="rollno"class="mt-2"><h6>ROLL NUMBER:</h1></label>
                <input type="number" class="form-control" id="rollno" name="rollNo" required>
              </div>
              <div class="form-group">
                <label for="password" class="mt-2"><h6>PASSWORD:</h1></label>
                <input type="password" class="form-control" id="password" name="password" required>
              </div>
              <div class="form-group">
                <label for="passcode" class="mt-2"><h6>PASSCODE:</h1></label>
                <input type="text" class="form-control" id="passcode" name="passcode" required>
              </div>

              <input type="hidden" name="latitude" id="latitude" />
              <input type="hidden" name="longitude" id="longitude" />

              <button type="button" class="btn btn-dark btn-block mt-2" id="getLocation">Get Location</button>
              <button type="submit" class="btn btn-dark btn-block mt-2">Submit</button>

              <!-- <button type="submit" >Login</button> -->
            </form>



          </div>
        </div>
      </div>
      
  </div>
    </main>
</body>

</html>

  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

